$principalColor: #112679;
$colorLetters-Header-Footer: #ffffff;
$redSocialW: wttp;
$redSocialI: inst;
$redSocialF: face;
body{
    margin: 0px;
}

.imagesProducts{
    max-width:35%;
    width:675px;
}

.title{
    font-family: cursive;
    font-size: 200%;
    margin-bottom: 5px;
}

header{
    width: 100%;
    display: flex;
    background-color: $principalColor;
    .logo{
        width: 34px;
        height: 36px;
        margin: 0px 5px;
    }

    .navbar-brand{
        color: $colorLetters-Header-Footer;
    }

    .nav-link{
        cursor:pointer;
    }

    .navMenu{
        position: absolute;
        right: 1%;
        top: 12px;
        .iconosNav{
            height: 25px;
            filter: invert(1);
        }
        .iconLogin{
            cursor: pointer;
        }
        .iconGeo{
            height: 23px;
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .carousel-positionImage{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .imagesCarrusel{
        max-width:50%;
        width:675px;
    }
    .servImages{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .imagenServ{
            width:10%;
        }
    }

    .linkTextServ{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
        margin-left: 5px;
        font-size: 120%;
        font-family: cursive;
        font-weight: bold;
    }

    .promocionesCatDog{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        right: 0.1%;
    }
    
    .promocionesCatDog2{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .promocionesCatDog2 :hover{
        opacity: 0;
    }

    .imageProm{
        max-width: 25%;
        width: 675px;
    }

    .imageProm2{
        max-width: 25%;
        width: 675px;
        height: 313px;
    }
    
    .marcas{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .imageMarca{
            max-width: 35%;
            width: 675px;
            padding: 10px 0px;
        }
    }

    .nuestrosClientes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .imageClient{
            max-width: 25%;
            width: 675px;
            padding: 0px 2px;
        }
    }

    .clientName{
        text-align: center;
        font-size: 28px;
        margin: 10px 0px 0px;
        .huella1{
            width: 30px;
            height: 20px;
            transform: rotate(343deg);
            padding: 0px 5px;
        }
        .huella2{
            width: 30px;
            height: 20px;
            transform: rotate(24deg);
            padding: 0px 5px;
        }
    }

    .entrega-MdePago{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .imageEntrega-MdePago{
            max-width:5%;
            width:675px;
            padding-left: 5px;
        }
    }

    .productos{
        align-content: center;
    }
}

.content-quienesSomos{
    .localImage{
        display: flex;
        position: relative;
        margin-bottom: 10px;
        width: 50%;
    }

    .imageUbic{
        width: 100%;
    }

    .mapa{
        display: flex;
        padding-right: 5px;
    }
}

footer{
    display: flex;
    #CopyRight{
        padding-bottom: 3%;
    }
    #redesContainer{
        font-size: x-large;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding-right: 15px;

        @if $redSocialW == wttp{
            #whatsapp{
                width: 30px;
                height: 30px;
                background-color: green;
            }
        }
        @if $redSocialI == inst{
            #instagram{
                width: 30px;
                height: 30px;
                background-color: purple;
            }
        }
        @if $redSocialF == face{
            #facebook{
                width: 30px;
                height: 30px;
                background-color: blue;
            }
        }
    }
}

.contentCenter{
    align-items: center;
}

ul li{
    padding: 0px 10px;
    a{
        text-decoration: none;
        color: $colorLetters-Header-Footer;
    }
}

.card-footer{
    text-align: right;
}

.productos{
    width: 70%;
}

.button-comprar{
    background-color: $principalColor;
}

@media screen and (max-width: 780px) {
    .marcas {
            flex-direction: column;
      }
    .navMenu {
        right: 3%;
        top: 12px;
    }
    .servImages{
        font-size: 14px;
    }
    #redesContainer{
        right: 10px;
        padding-right: 0px;
    }
}